/*----------------------------- nav media ----------------------------*/
@media (max-width: 991px) {
    .navbar .nav-link {
        color: #111 !important;
        display: inline-block;
    }

    .navbar .nav-item {
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        background-color: white;
        padding: 20px 0;
        text-align: center;
        margin-top: 15px;
        border-top: 1px solid rgba(12, 12, 12, 0.04);
    }

    .navbar .nav-link:hover::before,
    .navbar .active::before {
        background-color: #111;
    }
}

/*----------------------------- landing media --------------------------*/